CHILD_THEME_NAME=jaonaichan
TEXTDOMAIN_NAME=jaonaichan
CHILD_THEME_VERSION=1.0.0
CHILD_THEME_AUTHOR=Your Name

FTP_HOST=
FTP_USER=
FTP_PASSWORD=
FTP_PORT=21
FTP_SECURE=false
FTP_REMOTE_PATH=/public_html/wp-content/themes/your-child-theme