@import "tailwindcss";

/* @layer utilities {
  .border-gray-100 {
    border-color: var(--color-gray-100) !important;
  }
  
  .border {
    border-width: 1px !important;
    border-style: solid !important;
  }

  .divide-gray-100 > :not(:last-child) {
    border-color: var(--color-gray-100) !important;
  }
} */


/* @theme {
  --width-9\/10: 90%;
} */